*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.border{
    border: 2px dashed black;
}

header{
    height: 80px;
    background-color: #395DE8;
    padding: 20px;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.bg-discord{
    background-color: #395DE8;
}

.list-header{
    list-style-type: none;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#logo{
    margin-top: 5px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-items{
    align-items: center;
}

.d-flex{
    display: flex;
    justify-content: flex-end;
}

#login-button{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px 16px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bolder;
}

.col-70{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    background-color: transparent;

}

h1{
    font-size: 55px;
    
}

.white-text{
    color: white;
}

.violet-text{
    color: #8EA1E1;
}

.sub-title{
    font-size: 20px;
    margin-top: 40px;
    line-height: 1.6;
    gap: 0 20px;
}

.text-center{
    text-align: center;
}

.container-button{
    display: flex;
    justify-content: center;
    margin: 24px 0px
}

.center-button{
    text-decoration: none;
    background-color: orange;
    padding: 16px 32px;
    border-radius: 28px;
    margin: 0 15px;
    font-size: 20px;
}

#center-left-but{
    color: black;
    background-color: white;
}

#center-right-but{
    background-color: black;
}

.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.margin-x{
    margin-top: 120px;
    margin-bottom: 140px;
}

.margin-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-110{
    margin-top: 110px;
    margin-bottom: 110px;
}

.col-60{
    width: 60%;
    padding: 0 50px;
}

.col-40{
    width: 40%;
    padding: 0 50px;
}

.main-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}

.main-description{
    margin-top: 24px;
    line-height: 1.6;
    font-size: clamp(16px,2vw,20px);
}

.bg-gray{
    background-color: #F6F6F6;
    padding: 110px 0;
}

.col-100{
    width: 100%;
}

.d-flex-2{
    display: flex;
    flex-direction: column;
}

#big-image{
    width: 1200px;
    align-self: center;
}

#stars{
    width: 600px;
    align-self: center;
}

h4{
    font-weight: 700;
    font-size: 32px;
}

.download-button{
    align-self: center;
    margin-top: 40px;
    color: white;
    background-color: #8EA1E1;
}

.download-logo{
    margin-right: 5px;
}

.col-30{
    width: calc(100% / 6 * 2);
    height: 480px;
    background-color: transparent;
}

.col-20{
    width: calc(100% / 6);
    height: 480px;
    background-color: transparent;
}

.margin-footer{
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 60px 0;
}

footer{
    background-color: #23272A;
}

#title-footer{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #8EA1E1;
}

#ita{
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

#language{
    font-size: 14px;
    color: white;
}

.ita-lingua{
    display: flex;
}

#arrow-down{
    margin-left: 5px;
    color: white;
    font-size: 14px;
}

.social{
    margin-top: 20px;
}

.social-icon{
    font-size: 25px;
    color: white;
    margin-right: 24px;
}

.list-footer{
    display: flex;
    flex-direction: column;
    line-height: 1.8;

}

.list-bot{
    list-style-type: none;
    align-self: flex-start;
}
.col-button{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button{
    font-size: 18px;
    text-decoration: none;
}

#footer-right-button{
    border-radius: 40px;
    font-size: 14px;
    padding: 8px 16px;
    color: white;
    background-color: #8EA1E1;
}

.bolder-text{
    font-weight: bolder;
}

.white-underline:hover{
    text-decoration-line: underline;
    color: white;
}